{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-env",
        ["@babel/preset-react", { "runtime": "automatic" }],
      ],
    },
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-plusplus": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false,
      },
    ],
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
  },
  "globals": {
    "window": true,
    "document": true,
    "IntersectionObserver": true,
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
