#scene1 {

  .svg{
    width: 100%;
    height: 100%;
  }

  $start: $scene_01_begin;
  #wire1 {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: 6000;
    stroke-dashoffset: 0;
    -skrollr-animation-name: wire1;
  }
  @-skrollr-keyframes wire1 {
    #{$start + 100} {
      stroke-dashoffset: 6000;
    }

    #{$start + 2464} {
      stroke-dashoffset: 0;
    }
  }

  #linecover1 {
    opacity: 0;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  #scrollthing {
    -skrollr-animation-name: scrollthing;
  }
  #viewresume {
    cursor: pointer;
    opacity: 0;
  }
  #viewresume:hover {
    fill: rgba(44, 62, 80, 0.99);
  }
  #scrolldown {
    opacity: 0;
  }
  @-skrollr-keyframes scrollthing {
    #{$scene_01_begin} {
      opacity: 1;
      transition-delay: 2000ms;
      transition-duration: 500ms;
    }

    #{$scene_01_begin + 5} {
      opacity: 1;
      transition-delay: 0;
      transition-duration: 0;
    }

    #{$scene_01_begin + 30} {
      opacity: 0;
      transition-delay: 0;
      transition-duration: 0;
    }
  }

  #hellocontainer {
    -skrollr-animation-name: hellohello;
  }
  @-skrollr-keyframes hellohello {
    #{$start} {
      transform#{"[swing]"}: translate(355px, -30px);
    }

    #{$start + 100} {
      transform#{"[swing]"}: translate(0px, 0px);
    }
  }

  #subtitle {
    -skrollr-animation-name: subtitle;
  }
  @-skrollr-keyframes subtitle {
    #{$start} {
      opacity: 1;
    }

    #{$start + 50} {
      opacity: 0;
    }
  }

  #intro1 {
    -skrollr-animation-name: intro1;
  }
  @-skrollr-keyframes intro1 {
    #{$start + 100} {
      transform#{"[swing]"}: translate(0, -10px);
      opacity: 0;
    }

    #{$start + 200} {
      transform#{"[swing]"}: translate(0, 0px);
      opacity: 1;
    }
  }

  #intro2 {
    -skrollr-animation-name: intro2;
    cursor: pointer;
  }
  #intro2:hover text {
    fill: rgba(214, 219, 220, 0.8) !important;
  }
  @-skrollr-keyframes intro2 {
    #{$start} {
      pointer-events: none;
    }

    #{$start + 120} {
      pointer-events: auto;
      transform#{"[swing]"}: translate(0, -10px);
      opacity: 0;
    }

    #{$start + 170} {
      transform#{"[swing]"}: translate(0, 0px);
      opacity: 1;
    }
  }


  #intro3 {
    -skrollr-animation-name: intro3;
  }

  @-skrollr-keyframes intro3 {
    #{$start + 230} {
      transform#{"[swing]"}: translate(0, -10px);
      opacity: 0;
    }

    #{$start + 300} {
      transform#{"[swing]"}: translate(0, 0px);
      opacity: 1;
    }
  }

  #macbook {
    -skrollr-animation-name: macbook;
  }
  @-skrollr-keyframes macbook {
    #{$start + 50} {
      transform#{"[swing]"}: translate(0, -500px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 150} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #mouse {
    -skrollr-animation-name: mouse;
  }
  @-skrollr-keyframes mouse {
    #{$start + 100} {
      transform#{"[swing]"}: translate(200px, 0px) rotate(-30deg);
      opacity: 0;
    }

    #{$start + 200} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #schema {
    -skrollr-animation-name: schema;
  }
  @-skrollr-keyframes schema {
    #{$start + 100} {
      transform#{"[swing]"}: translate(0, -200px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 200} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #bevanda {
    -skrollr-animation-name: bevanda;
  }
  @-skrollr-keyframes bevanda {
    #{$start + 150} {
      transform#{"[swing]"}: translate(0, -200px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 250} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #matita1 {
    -skrollr-animation-name: matita1;
  }
  @-skrollr-keyframes matita1 {
    #{$start + 25} {
      transform#{"[swing]"}: translate(0, -200px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 125} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #cancelleria1 {
    -skrollr-animation-name: cancelleria1;
  }
  @-skrollr-keyframes cancelleria1 {
    #{$start + 125} {
      transform#{"[swing]"}: translate(0, -200px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 225} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #righello {
    -skrollr-animation-name: righello;
  }
  @-skrollr-keyframes righello {
    #{$start + 175} {
      transform#{"[swing]"}: translate(0, -200px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 275} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #gomma {
    -skrollr-animation-name: gomma;
  }
  @-skrollr-keyframes gomma {
    #{$start + 120} {
      transform#{"[swing]"}: translate(0, -200px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 220} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #iphone {
    -skrollr-animation-name: iphone2;
  }
  @-skrollr-keyframes iphone2 {
    #{$start + 150} {
      transform#{"[swing]"}: translate(-200px, 0) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 200} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #occhiali {
    -skrollr-animation-name: occhiali;
  }
  @-skrollr-keyframes occhiali {
    #{$start + 270} {
      transform#{"[swing]"}: translate(100px, -300px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 310} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #foglio1 {
    -skrollr-animation-name: foglio1;
  }
  @-skrollr-keyframes foglio1 {
    #{$start} {
      transform#{"[swing]"}: translate(0, -500px) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 75} {
      transform#{"[swing]"}: translate(0, -500px) rotate(-10deg);
      opacity: 1;
    }

    #{$start + 175} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #foglio2 {
    -skrollr-animation-name: foglio2;
  }
  @-skrollr-keyframes foglio2 {
    #{$start + 50} {
      transform#{"[swing]"}: translate(-200px, 0) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 150} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

  #calcolatrice {
    -skrollr-animation-name: calcolatrice;
  }
  @-skrollr-keyframes calcolatrice {
    #{$start} {
      transform#{"[swing]"}: translate(-500px, 0) rotate(-10deg);
      opacity: 0;
    }

    #{$start + 200} {
      transform#{"[swing]"}: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }

}


