{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "extends": ["airbnb-base", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
      },
    ],
  },
}
