[role="placeholder"] {
  position: absolute;
  top: 0;
  width: 100%;
}

[role="site"] {
  opacity: 0;
  height: 100%;

  &[uiState="show"] {
    opacity: 1;
  }

  &[uiState="hidden"] {
    display: none;
  }

  > div > svg {
    position: fixed;
    z-index: 100;
  }
}

#framedisplay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

#svg1 {
  top: 0;
  position: fixed;
  z-index: 100;

  text {
    text-rendering: geometricPrecision;
  }

  #line,
  #line2,
  #helloline {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
  }

  #line2 {
    stroke-dasharray: 2000;
  }

  #endline {
    stroke-dasharray: 3000;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dashoffset: 0;
  }

  #viewresume {
    cursor: pointer;
    opacity: 0;

    &:hover {
      fill: rgba(44, 62, 80, 0.99);
    }
  }

  #scrolldown {
    opacity: 0;
  }

  #intro2 {
    cursor: pointer;

    &:hover text {
      fill: rgba(214, 219, 220, 0.8) !important;
    }
  }

  /* #container {
    transform-origin: center;
  } */

  #helloline,
  #desklogos,
  #wireframe1,
  #wireframe2,
  #wireframe3,
  #wireframe4,
  #desklaptop,
  #deskmonitor1,
  #deskmonitor2,
  #deskpen,
  #desknotes,
  #deskkeyboard,
  #deskcoffee,
  #desktablewindowshadow,
  #desktable {
    transform-origin: left;

    path,
    polygon,
    ellipse {
      opacity: 0;
      stroke: #fff;
      fill-opacity: 0;
      stroke-width: 0.5;
      stroke-linecap: round;
      stroke-linejoin: miter;
      stroke-miterlimit: 4;
      stroke-dashoffset: 0;
    }
  }

  #desktopsource {
    transform-origin: left;
  }

  #terminal2textclip {
    transform-origin: 5%;
  }

  #contactsbutton {
    cursor: pointer;
  }

  #framemasked {
    clip-path: inherit;
  }

  #helloline {
    stroke: #93cfd9;
    stroke-dasharray: 300;
    stroke-width: 1.2;
  }

  #chair1 {
    path,
    polygon {
      fill-opacity: 0;
      stroke: #dbdbdb;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: miter;
      stroke-miterlimit: 4;
      stroke-dashoffset: 0;
    }
  }

  #room {
    transform-origin: center;
  }

  #hotballoon,
  #sky {
    transform-origin: center;
    transform-box: fill-box;
  }

  #laptopwindowshadow {
    mix-blend-mode: multiply;
  }

  #screen,
  #screen_1_,
  #screen_2_,
  #screen_3_,
  #screen_4_,
  #screen_5_,
  #screen_7_ {
    mix-blend-mode: screen;
  }

  #dodge {
    mix-blend-mode: color-dodge;
  }

  #companyshadows,
  #chairshadow,
  #tableshadow,
  #table2shadow {
    transform-origin: left;
    transform-box: fill-box;
  }
}
