$start: $scene_05_begin;




#videoPlayer {
    -skrollr-animation-name: a_videoPlayer;
}

@-skrollr-keyframes a_videoPlayer {

    #{$start + 1350} {
        opacity: 0;
        display:none;
    }
    #{$start + 1370} {
        opacity: 1;
        display:inline;
    }
    #{$start + 1590} {
        opacity: 1;
        display:inline;
    }
    #{$start + 1610} {
        opacity: 0;
        display:none;
    }
}


#scene5 {


    #wire5 {
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
        stroke-dasharray: 6000;
        stroke-dashoffset: 0;
        -skrollr-animation-name: wire5;
    }

    @-skrollr-keyframes wire5 {
        #{$start - 385} {
            stroke-dashoffset: 6000;
        }
        #{$start + 1000} {
            stroke-dashoffset: 0;
        }
    }


    #bg {
        -skrollr-animation-name: bg;
    }
    @-skrollr-keyframes bg {
        #{$start} {
            opacity: 0;
        }
        #{$start + 160} {
            opacity: 0;
        }
        #{$start + 200} {
            opacity: 1;
        }
        #{$start + 350} {
            opacity: 1;
        }
        #{$start + 390} {
            opacity: 0;
        }
    }

    #scene {
        -skrollr-animation-name: scene4r;

    }
    @-skrollr-keyframes scene4r {
        #{$start + 1150} {
            transform: rotate(0deg) translate(0px, 0px) scale(1);
        }
        #{$start + 1350} {
            transform: rotate(90deg) translate(-6930px, -530px) scale(8);
        }
    }

    #fg {
        -skrollr-animation-name: fgg;
    }
    @-skrollr-keyframes fgg {
        #{$start} {
            opacity: 0;
        }
        #{$start + 160} {
            opacity: 0;
        }
        #{$start + 200} {
            opacity: 0.4;
        }
        #{$start + 350} {
            opacity: 0.4;
        }
        #{$start + 390} {
            opacity: 0;
        }
    }



    #titles {
        #title1 {
            -skrollr-animation-name: title1;
        }
        #title2 {
            -skrollr-animation-name: title2;
        }
        #title3 {
            -skrollr-animation-name: title3;
        }
    }
    @-skrollr-keyframes title1 {
        #{$start} {
            opacity: 0;
        }
        #{$start + 100} {
            opacity: 1;
        }
        #{$start + 300} {
            opacity: 1;
        }
        #{$start + 350} {
            opacity: 0;
        }
    }

    @-skrollr-keyframes title2 {
        #{$start} {
            opacity: 0;
        }
        #{$start + 400} {
            opacity: 0;
        }
        #{$start + 450} {
            opacity: 1;
        }
        #{$start + 900} {
            opacity: 1;
        }
        #{$start + 950} {
            opacity: 0;
        }
    }

    @-skrollr-keyframes title3 {
        #{$start + 940} {
            opacity: 0;
        }
        #{$start + 980} {
            opacity: 1;
        }
    }

    #desks {
        -skrollr-animation-name: desks;
        #employee {
            -skrollr-animation-name: employee;
        }
        #entrepeneur {
            -skrollr-animation-name: entrepeneur;
        }
        #freelance {
            -skrollr-animation-name: freelance;
        }
    }
    @-skrollr-keyframes desks {
        #{$start + 400} {
            transform: translate(0px, 0px) scale(1);
        }
        #{$start + 450} {
            transform: translate(300px, 0px) scale(0.6);
        }
        #{$start + 900} {
            transform: translate(300px, 0px) scale(0.6);
        }
        #{$start + 950} {
            transform: translate(0px, 0px) scale(1);
        }
    }

    #clients {
        #luiss {
            -skrollr-animation-name: luiss;
        }
        #algida {
            -skrollr-animation-name: algida;
        }
        #unilever {
            -skrollr-animation-name: unilever;
        }
        #alitalia {
            -skrollr-animation-name: alitalia;
        }
        #enel {
            -skrollr-animation-name: enel;
        }
        #equitalia {
            -skrollr-animation-name: equitalia;
        }
        #infostrada {
            -skrollr-animation-name: infostrada;
        }
        #nintendo {
            -skrollr-animation-name: nintendo;
        }
        #peroni {
            -skrollr-animation-name: peroni;
        }
        #sapienza {
            -skrollr-animation-name: sapienza;
        }
        #wind {
            -skrollr-animation-name: wind;
        }
    }
    @-skrollr-keyframes unilever {
        #{$start + 100} {
            transform: translate(-3000px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 150} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes luiss {
        #{$start + 140} {
            transform: translate(0px, 1000px);
            opacity: 0;
        }
        #{$start + 210} {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    @-skrollr-keyframes algida {
        #{$start + 260} {
            transform: translate(-3000px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 310} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes alitalia {
        #{$start + 350} {
            transform: translate(-3000px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 400} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes enel {
        #{$start + 450} {
            transform: translate(-2600px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 500} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes equitalia {
        #{$start + 560} {
            transform: translate(-4700px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 610} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes infostrada {
        #{$start + 700} {
            transform: translate(-4700px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 750} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes nintendo {
        #{$start + 770} {
            transform: translate(-4700px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 820} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes peroni {
        #{$start + 850} {
            transform: translate(-4700px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 900} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes sapienza {
        #{$start + 950} {
            transform: translate(-4700px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 1000} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    @-skrollr-keyframes wind {
        #{$start + 1050} {
            transform: translate(-4700px, -8000px) scale(16);
            opacity: 0;
        }
        #{$start + 1100} {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    #mouse04 {
        -skrollr-animation-name: mouse04;
    }
    $mousestart: $start - 200;
    @-skrollr-keyframes mouse04 {
        #{$mousestart} {
            transform: rotate(1deg);
        }
        #{$mousestart + 50} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 100} {
            transform: rotate(2deg);
        }
        #{$mousestart + 150} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 200} {
            transform: rotate(0deg);
        }
        #{$mousestart + 250} {
            transform: rotate(0deg);
        }
        #{$mousestart + 300} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 350} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 500} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 550} {
            transform: rotate(1deg);
        }
        #{$mousestart + 750} {
            transform: rotate(1deg);
        }
        #{$mousestart + 800} {
            transform: rotate(2deg);
        }
        #{$mousestart + 850} {
            transform: rotate(1deg);
        }
        #{$mousestart + 950} {
            transform: rotate(0deg);
        }
        #{$mousestart + 1050} {
            transform: rotate(1deg);
        }
        #{$mousestart + 1250} {
            transform: rotate(2deg);
        }
        #{$mousestart + 1450} {
            transform: rotate(-1deg);
        }
    }



   #mouse04-1 {
        -skrollr-animation-name: mouse04-1;
    }

    @-skrollr-keyframes mouse04-1 {
        #{$mousestart} {
            transform: rotate(1deg);
        }
        #{$mousestart + 50} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 100} {
            transform: rotate(2deg);
        }
        #{$mousestart + 150} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 200} {
            transform: rotate(0deg);
        }
        #{$mousestart + 250} {
            transform: rotate(0deg);
        }
        #{$mousestart + 300} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 350} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 500} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 550} {
            transform: rotate(1deg);
        }
        #{$mousestart + 750} {
            transform: rotate(1deg);
        }
        #{$mousestart + 800} {
            transform: rotate(2deg);
        }
        #{$mousestart + 850} {
            transform: rotate(1deg);
        }
        #{$mousestart + 950} {
            transform: rotate(0deg);
        }
        #{$mousestart + 1050} {
            transform: rotate(1deg);
        }
        #{$mousestart + 1250} {
            transform: rotate(2deg);
        }
        #{$mousestart + 1450} {
            transform: rotate(-1deg);
        }
    }

   #mouse04-2 {
        -skrollr-animation-name: mouse04-2;
    }

    @-skrollr-keyframes mouse04-2 {
        #{$mousestart} {
            transform: rotate(1deg);
        }
        #{$mousestart + 50} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 100} {
            transform: rotate(2deg);
        }
        #{$mousestart + 150} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 200} {
            transform: rotate(0deg);
        }
        #{$mousestart + 250} {
            transform: rotate(0deg);
        }
        #{$mousestart + 300} {
            transform: rotate(-1deg);
        }
        #{$mousestart + 350} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 500} {
            transform: rotate(-2deg);
        }
        #{$mousestart + 550} {
            transform: rotate(1deg);
        }
        #{$mousestart + 750} {
            transform: rotate(1deg);
        }
        #{$mousestart + 800} {
            transform: rotate(2deg);
        }
        #{$mousestart + 850} {
            transform: rotate(1deg);
        }
        #{$mousestart + 950} {
            transform: rotate(0deg);
        }
        #{$mousestart + 1050} {
            transform: rotate(1deg);
        }
        #{$mousestart + 1250} {
            transform: rotate(2deg);
        }
        #{$mousestart + 1450} {
            transform: rotate(-1deg);
        }
    }


    @-skrollr-keyframes employee {
        #{$start + 400} {
            opacity: 0;
        }
        #{$start + 450} {
            opacity: 1;
        }
        #{$start + 900} {
            opacity: 1;
        }
        #{$start + 950} {
            opacity: 0;
        }
    }

    @-skrollr-keyframes entrepeneur {
        #{$start + 900} {
            opacity: 0;
        }
        #{$start + 950} {
            opacity: 1;
        }
    }

    @-skrollr-keyframes freelance {
        #{$start + 400} {
            opacity: 1;
        }
        #{$start + 450} {
            opacity: 0;
        }
    }

    #deskleft {
        -skrollr-animation-name: deskleft;
    }
    @-skrollr-keyframes deskleft {
        #{$start + 400} {
            opacity: 0;
            transform: translate(-500px, 0px);
        }
        #{$start + 450} {
            opacity: 1;
            transform: translate(0px, 0px);
        }
        #{$start + 900} {
            opacity: 1;
            transform: translate(0px, 0px);
        }
        #{$start + 950} {
            opacity: 0;
            transform: translate(-500px, 0px);
        }
    }

    #deskright {
        -skrollr-animation-name: deskright;
    }
    @-skrollr-keyframes deskright {
        #{$start + 400} {
            opacity: 0;
            transform: translate(500px, 0px);
        }
        #{$start + 450} {
            opacity: 1;
            transform: translate(0px, 0px);
        }
        #{$start + 900} {
            opacity: 1;
            transform: translate(0px, 0px);
        }
        #{$start + 950} {
            opacity: 0;
            transform: translate(500px, 0px);
        }
    }
}
